@model IEnumerable<MVC_5Temp.Models.Customer>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<p>

    <a class="btn btn-primary" @Ajax.ActionLink("Create New", "AjCreate", new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "MyForm", InsertionMode = InsertionMode.Replace })</a>


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })|
                @Ajax.ActionLink("AjaxDelete", "AjDelete", new { id = item.id }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "MyData", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-danger" }) |
                @Ajax.ActionLink("Update", "AJEdit", new { id = item.id }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "MyForm", InsertionMode = InsertionMode.Replace }  )
            </td>
        </tr>
    }

</table>
